<div class="row">
  <div class="col-md-6">
    <h3>Mon, May 22 (Day 1)</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>13:00</td>
        <td><a href="https://datacarpentry.org/shell-genomics">Introduction to the Command Line for Genomics</a></td>
      </tr>
      <tr>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>End</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wed, May 24 (Day 2)</h3>
    <table class="table table-striped">
      <tr>
        <td>13:00</td>
        <td><a href="https://carpentries-incubator.github.io/introduction-to-conda-for-data-scientists">Introduction to Conda for (Data) Scientists</a></td>
      </tr>
      <tr>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>End</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Fri, May 26 (Day 3)</h3>
    <table class="table table-striped">
      <tr>
        <td>13:00</td>
        <td><a href="https://swcarpentry.github.io/git-novice">Version Control with Git</a></td>
      </tr>
      <tr>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>End</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Mon, Jun 12 (Day 1 Alt)</h3>
    <table class="table table-striped">
      <tr>
        <td>Before starting</td>
        <td><a href="{{ site.pre_survey }}{{ site.github.project_title }}" target="_blank">Pre-workshop survey</a></td>
      </tr>
      <tr>
        <td>13:00</td>
        <td><a href="https://datacarpentry.org/shell-genomics">Introduction to the Command Line for Genomics</a></td>
      </tr>
      <tr>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>End</td>
      </tr>
    </table>
  </div>
  <div class="col-md-6">
    <h3>Wed, Jun 21 (Day 2 Alt)</h3>
    <table class="table table-striped">
      <tr>
        <td>13:00</td>
        <td><a href="https://carpentries-incubator.github.io/introduction-to-conda-for-data-scientists">Introduction to Conda for (Data) Scientists</a></td>
      </tr>
      <tr>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>End</td>
      </tr>
    </table>
  </div>
</div>
<div class="row">
  <div class="col-md-6">
    <h3>Mon, Jun 26 (Day 3 Alt)</h3>
    <table class="table table-striped">
      <tr>
        <td>13:00</td>
        <td><a href="https://swcarpentry.github.io/git-novice">Version Control with Git</a></td>
      </tr>
      <tr>
        <td>TBD</td>
        <td>TBD</td>
      </tr>
      <tr>
        <td>17:00</td>
        <td>End</td>
      </tr>
    </table>
  </div>
</div>
